.site-footer {
    background-color: black;
}

.site-footer ul {
    display: flex;
    justify-content: center;
}

.site-footer ul li{
    margin-top: 1em;
    padding: 2em;
    list-style-type: none;
    text-align: center;
}

.site-footer ul li a {
    text-decoration: none;
    color: white;
}

.site-footer p {
    color: white;
    text-align: center;
    padding-bottom: 2em;
}

.site-footer i {
    color: white;
    padding-right: 1em;
    font-size: 1.5em;
    text-align: center;
}