.site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em;
    text-align: center;
    background-image: url("/mclb2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 95vh;
    position: relative;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 3em;
}



.site-header h1,
.site-header nav{
    position: relative;
    z-index: 5;
}

header:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-header a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(216, 216, 216);
}

.site-header nav ul {
    display: flex;
    padding-top: 1em;
}

.site-header nav ul li {
    padding: 0.5em 1em;
    list-style-type: none;
    transition: background-color 0.5s ease-out;
    border-radius: 0.5em;
    opacity: 0;
}


.site-header nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
}

.site-header nav ul li a {
    margin: 0 0.2em;
}

.site-header nav ul li {
    transform: translate(0, -5em);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    
}

.loaded .site-header nav ul li {
    opacity: 1;
    transform: translate(0, 0);

}


.site-header section {
    position: absolute;
    top: 40%;
    left: 10%;
    color: rgb(216, 216, 216);
    text-align: left;
    z-index: 5;
}

.site-header section p {
    margin-top: 1em;
}

.site-header section h2{
    transform: translateX(-30vw);
    opacity: 0;
    transition: opacity 0.5s ease-in 0.4s, transform 0.5s ease-in-out 0.6s;
}

.site-header section p {
    transform: translateX(-25vw);
    opacity: 0;
    transition: opacity 0.5s ease-in 0.6s, transform 0.5s ease-in-out 0.8s;
}

.loaded .site-header section h2,
.loaded .site-header section p{
    transform: translateX(0vw);
    opacity: 1;
}








