.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5em 2em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
}

.second-header .second-nav ul {
    display: flex;
    padding: 0.5em 1em;
}

.second-header .second-nav ul li {
    padding: 0.5em 1em;
    list-style-type: none;
    transition:  0.4s ease-in;
    border-radius: 0.5em;
    opacity: 0;
    border-right: 1px solid white;
    
   
}

.second-header .second-nav ul li a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    transition: 0.3s ease-in;
}

.loaded .second-header .second-nav ul li {
    opacity: 1;
}

.second-header .second-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    
}

.second-header .second-nav ul li a:hover {
    color: white;
}





