@import 'https://fonts.googleapis.com/css?family=Comfortaa&display=swap';
@import url("https://fonts.googleapis.com/css?family=Caveat|Pacifico&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Comfortaa', cursive; }

body {
  background-color: #f2f2f2; }

.main-section {
  max-width: 75em;
  margin: 0 auto;
  margin-bottom: 3em; }

.site-news .news {
  display: -webkit-box;
  display: flex;
  background-color: #b2b1b1;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
  max-width: 70em;
  margin: 1em auto;
  border-radius: 0.3em; }

.news img {
  width: 75%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 0.3em; }

.news img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.news ul li {
  list-style-type: none;
  padding: 1.5em;
  margin-left: 2em; }

.first-section ul li a {
  background-color: black;
  list-style-type: none;
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in; }

.first-section ul li a:hover {
  background-color: #b2b1b1; }

.first-section ul {
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 5em;
  padding: 0.5em;
  z-index: 2;
  border-radius: 0.3em; }

.second-section ul {
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 3em;
  padding: 0.5em;
  z-index: 3;
  border-radius: 0.3em; }

.third-section ul {
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 1.5em;
  padding: 0.5em;
  z-index: 5;
  border-radius: 0.3em; }

/* about page */
.about-image {
  text-align: center;
  margin: 2em 0; }

.about-image img {
  box-shadow: 0 0 6px 1px black;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-out 0.6s;
  transition: opacity 1.5s ease-out 0.6s; }

.loaded .about-image img {
  opacity: 1; }

.about-section .mcinfo {
  max-width: 60em;
  margin: 0 auto;
  margin-bottom: 2em; }

.members {
  display: -webkit-box;
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #3a335f;
  box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3); }

.members .box {
  margin: 1em;
  border: 1px solid rgba(255, 255, 255, 0.466);
  padding: 1em; }

.members .box h3 {
  margin: 1em 0;
  color: white;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  opacity: 0;
  -webkit-transition: 0.6s ease-out 0.2s;
  transition: 0.6s ease-out 0.2s; }

.members .box img {
  border-radius: 50%;
  box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3);
  width: 200px;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
  -webkit-transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.members .box:hover {
  box-shadow: 0 0 2em 0em rgba(0, 0, 0, 0.5); }

.members .box:hover img {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.members .box:hover h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

/* contacts page */
.upper-contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-width: 60em;
  margin: 0 auto;
  padding: 3em 0; }

.upper-contacts .site-left {
  -webkit-box-align: center;
          align-items: center; }

.upper-contacts .site-left ul li {
  padding: 0.3em 0;
  list-style-type: none; }

.site-contacts .map {
  border: 2px solid white;
  margin: 0 auto; }

.site-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  padding: 0 2em;
  text-align: center;
  background-image: url("../images/mclb2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 95vh;
  position: relative;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 3em; }
  .site-header:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
  .site-header .nav {
    position: relative;
    z-index: 5; }
  .site-header ul {
    display: -webkit-box;
    display: flex;
    /* padding-top: 1em; */ }
    .site-header ul li {
      padding: 0.5em 1em;
      list-style-type: none;
      -webkit-transition: background-color 0.8s ease-in;
      transition: background-color 0.8s ease-in;
      border-radius: 0.5em;
      opacity: 0;
      -webkit-transform: translate(0, -5em);
              transform: translate(0, -5em);
      -webkit-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in; }
    .site-header ul li:hover {
      background-color: rgba(255, 255, 255, 0.1); }
      .site-header ul li:hover ul {
        display: block; }
    .site-header ul ul {
      display: none; }
  .site-header a {
    margin: 0 0.2em;
    text-decoration: none;
    list-style-type: none;
    color: #d8d8d8; }

.loaded .site-header nav ul li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.site-header section {
  position: absolute;
  top: 40%;
  left: 10%;
  color: #d8d8d8;
  text-align: left;
  z-index: 5; }
  .site-header section p {
    margin-top: 1em;
    -webkit-transform: translateX(-25vw);
            transform: translateX(-25vw);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in 0.6s, -webkit-transform 0.5s ease-in-out 0.8s;
    transition: opacity 0.5s ease-in 0.6s, -webkit-transform 0.5s ease-in-out 0.8s;
    transition: opacity 0.5s ease-in 0.6s, transform 0.5s ease-in-out 0.8s;
    transition: opacity 0.5s ease-in 0.6s, transform 0.5s ease-in-out 0.8s, -webkit-transform 0.5s ease-in-out 0.8s; }
  .site-header section h2 {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in 0.4s, -webkit-transform 0.5s ease-in-out 0.6s;
    transition: opacity 0.5s ease-in 0.4s, -webkit-transform 0.5s ease-in-out 0.6s;
    transition: opacity 0.5s ease-in 0.4s, transform 0.5s ease-in-out 0.6s;
    transition: opacity 0.5s ease-in 0.4s, transform 0.5s ease-in-out 0.6s, -webkit-transform 0.5s ease-in-out 0.6s; }

.loaded .site-header section h2,
.loaded .site-header section p {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  opacity: 1; }

.albums {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.site-album {
  padding: 2em;
  text-align: center;
  position: relative; }

.site-album img {
  width: 500px;
  border-radius: 2em;
  display: block;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.img-text {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 40%;
  text-align: center;
  -webkit-transform: translateY(-11em);
          transform: translateY(-11em);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out; }

.site-album:hover img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  box-shadow: none; }

.site-album:hover .img-text {
  opacity: 1;
  color: white;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.site-footer {
  background-color: black; }

.site-footer ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.site-footer ul li {
  margin-top: 1em;
  padding: 2em;
  list-style-type: none;
  text-align: center; }

.site-footer ul li a {
  text-decoration: none;
  color: white; }

.site-footer p {
  color: white;
  text-align: center;
  padding-bottom: 2em; }

.site-footer i {
  color: white;
  padding-right: 1em;
  font-size: 1.5em;
  text-align: center; }

.second-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background-color: black;
  padding: 0.5em 2em;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3); }

.site .second-header h1 {
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .site .second-header h1 a {
    font-family: 'Caveat', cursive;
    color: #d8d8d8;
    text-decoration: none; }

.loaded .site .second-header h1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1; }

.second-nav ul {
  display: -webkit-box;
  display: flex;
  padding: 0.5em 1em; }
  .second-nav ul li {
    padding: 0.5em 1em;
    list-style-type: none;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    border-radius: 0.5em;
    opacity: 0;
    border-right: 1px solid white; }
  .second-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center; }
    .second-nav ul li:hover ul {
      display: block;
      padding: 0;
      margin: 0; }
  .second-nav ul ul {
    display: none; }
  .second-nav ul a {
    text-decoration: none;
    color: #d8d8d8;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
  .second-nav ul a:hover {
    color: white; }

.loaded .second-header .second-nav ul li {
  opacity: 1; }
