body {
    background-color: rgb(242, 242, 242);
}

.main-section {
    max-width: 75em;
    margin: 0 auto;
    margin-bottom: 3em;
    
}

.site-news .news {
    display: flex;
    background-color: rgb(178, 177, 177);
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
    max-width: 70em;
    margin: 1em auto;
    border-radius: 0.3em;
}

.news img {
    width: 75%;
    transition: transform 0.2s;
    border-radius: 0.3em;
}

.news img:hover {
    transform: scale(1.10);

}


.news ul li{
    list-style-type: none;
    padding: 1.5em;
    margin-left: 2em;
}



.first-section ul li a {
    background-color: rgb(0,0,0);
    list-style-type: none;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
    transition: background-color 0.3s ease-in;
}

.first-section ul li a:hover {
    background-color: rgb(178, 177, 177);
}
.first-section ul {
    transform: translateX(-2em);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 5em;
    padding: 0.5em;
    z-index: 2;
    border-radius: 0.3em;
}

.second-section ul {
    transform: translateX(2em);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 3em;
    padding: 0.5em;
    z-index: 3;
    border-radius: 0.3em;
}

.third-section ul {
    transform: translateX(-2em);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 1.5em;
    padding: 0.5em;
    z-index: 5;
    border-radius: 0.3em;
}

/* about page */


.about-image {
    text-align: center;
    margin: 2em 0;
}

.about-image img {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 5);
    opacity: 0;
    transition: opacity 1.5s ease-out 0.6s;
}

.loaded .about-image img {
    opacity: 1;
}

.about-section .mcinfo {
    max-width: 60em;
    margin: 0 auto;
    margin-bottom: 2em;
}




.members {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(58, 51, 95);
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3);
}


.members .box {
    margin: 1em;
    border: 1px solid rgba(255, 255, 255, 0.466);
    padding: 1em;
    
}

.members .box h3 {
    margin: 1em 0;
    color: white;
    transform: translateY(-2em);
    opacity: 0;
    transition: 0.6s ease-out 0.2s;
}



.members .box img {
    border-radius: 50%;
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.3);
    width: 200px;
    transform: translateY(2em);
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.members .box:hover {
    box-shadow: 0 0 2em 0em rgba(0,0,0,0.5);
    
}

.members .box:hover img {
    transform: translateY(0);
   
}

.members .box:hover h3 {
    transform: translateY(0);
    opacity: 1;
    
}

/* contacts page */

.upper-contacts {
    display: flex;
    justify-content: space-between;
    max-width: 60em;
    margin: 0 auto;
    padding: 3em 0;
}

.upper-contacts .site-left {
    align-items: center;
}

.upper-contacts .site-left ul li {
    padding: 0.3em 0;
    list-style-type: none;
    
}

.site-contacts .map {
    border: 2px solid white;
    margin: 0 auto;
}




