@import url('https://fonts.googleapis.com/css?family=Caveat|Pacifico&display=swap');

.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5em 2em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
}

.site .second-header h1 {
    transform: translateX(-2em);
    opacity: 0;
    transition: 0.3s ease-in;

    a{
        font-family: 'Caveat', cursive;
        color: rgb(216, 216, 216);
        text-decoration: none;
        
    }
}

.loaded .site .second-header h1 {
    transform: translateX(0);
    opacity: 1;
}

.second-nav ul {
    display: flex;
    padding: 0.5em 1em;

    li {
        padding: 0.5em 1em;
        list-style-type: none;
        transition:  0.4s ease-in;
        border-radius: 0.5em;
        opacity: 0;
        border-right: 1px solid white;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    a {
        text-decoration: none;
        color: rgb(216, 216, 216);
        transition: 0.3s ease-in;
    }

    a:hover {
        color: white;
    }
}


.loaded .second-header .second-nav ul li {
    opacity: 1;
}






